@use '../globals' as g;
.ViewBtns {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0.2rem 0.8rem 0.2rem 0;
  margin: 0;

  .viewBtn {
    border-radius: 3px;
    border: 1px solid #17252a;
    margin-right: 0.5rem;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: white;
    text-transform: capitalize;
    min-width: 75px;
   @include g.tablet {
     padding: .8rem 1rem;
     min-width: 125px;
   }
    @include g.tablet-landscape {
      min-width: 150px;
      padding: 1rem 1.5rem;
    }
  }

  .active {
    background-color: #17252a;
    color: white;
    font-weight: bold;
  }
}
