{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "vueIndentScriptAndStyle": false,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "tabWidth": 4,
  "printWidth": 200
}
