@use '../../../globals' as g;

.bet-list {
  @include g.tablet {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    @include g.tablet {
      flex: 0 0 50%;
     padding: .3rem;
    }

    @include g.tablet-landscape {
      flex: 0 0 33%;
      padding: .3rem;
    }
  }
}