@use '../../../globals' as g;

.search {
  display: flex;
  align-items: center;
  padding: 1rem 0;

  &__btn {
    border: none;

    &--clear {
      font-weight: bold;
      color: grey;
      @include g.font-size(g.$font-xs);
    }
  }

  &__column {
    padding-left: 1rem;
    flex: 1 0 auto;

    &--input {
      display: flex;

    }
  }
}

.bet-list {
  @include g.tablet {
    display: flex;
    flex-wrap: wrap;
  }

  .card-component {
    @include g.tablet {
      flex: 0 1 50%;
    }

    @include g.tablet-landscape {
      flex: 0 1 33%;
    }
    @include g.desktopLarge {
      flex: 0 1 25%;
    }


  }
}