@use '../../globals' as g;

$--profileBetsTitleFS: (
        null: 1.1rem,
        g.$mQ-mobile: 1.2rem,
);

$--betTitleFS: (
        null: 0.9rem,
        g.$mQ-mobile: 1rem,
);
$--betCreatedOnFS: (
        null: 0.7rem,
        g.$mQ-mobile: 0.8rem,
);

$--noBetsCreatedFS: (
        null: 1rem,
        g.$mQ-mobile: 1.2rem,
);

$--noAcceptedUsersFS: (
        null: 0.7rem,
        g.$mQ-mobile: 0.8rem,
);

$--selectedBetProp: (
        null: 0.8rem,
        g.$mQ-mobile: 0.9rem,
);

.sect {
  margin: 1rem 0;

  &.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.betList {
  h2 {
    @include g.font-size($--profileBetsTitleFS);
    margin: 1rem 0;
    color: g.$color-PrimaryFS;
  }

  p {
    @include g.font-size($--betCreatedOnFS);
  }

  .card {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 1rem;
    border-left: 5px solid g.$color-DarkBlue;
    height: 125px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include g.mobile {
      margin-bottom: 1.5rem;
    }

    @include g.tablet {
      margin: 0;
    }

    &__top {
      &__title {
        h3 {
          margin: 0 0 0.3rem 0;
          @include g.font-size($--betTitleFS);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.noBets {
  display: flex;
  justify-content: center;
  padding: 3rem;

  p {
    color: g.$color-SecondaryFS;
    @include g.font-size($--noBetsCreatedFS);
  }
}

button {
  border: none;
  padding: 0.2rem;
}

.selectedBet {
  .deleteBtn {
    display: flex;
    justify-content: flex-end;

    button {
    }

    svg {
      height: 25px;
      width: 25px;
    }
  }

  p {
    @include g.font-size($--selectedBetProp);
  }

  textarea {
    min-height: 150px;
  }

  .acceptedUsers {
    &__user {
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin: 0.2rem 0;

      button {
      }

      svg {
        height: 20px;
        width: 20px;
      }
    }
  }

  .noneAccepted {
    padding: 1rem;

    p {
      @include g.font-size($--noAcceptedUsersFS);
      color: #8b2635;
    }
  }
}
