@use '../../globals' as g;

$--optionBtnFS: (
        null: 0.8rem,
        g.$mQ-mobile: 0.9rem,
);
$--editTitleFS: (
        null: 1.2rem,
        g.$mQ-mobile: rem,
);
$--bottomTitleFS: (
        null: 1rem,
        g.$mQ-mobile: rem,
);

$text--btn-update: (
        font-size: (
                null: .8rem,
                g.$mQ-mobile: .9rem
        ),
        padding: (
                null: .5rem 2rem,
                g.$mQ-mobile: .6rem 2.5rem
        ),
        color: g.$color-DarkBlue,
        font-weight: bold,
        margin: 2rem 0,
        border: 1px solid g.$color-DarkBlue,
        border-radius: 5px
);

.userProfile {
  padding: 0 0 2rem 0;
}

.section {
  &__top {
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    z-index: 2;
  }

  &__middle {
    align-items: flex-end;
    background-color: g.$color-DarkBlue;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1rem 2rem;
    position: relative;
    transform: translateY(-20px);
    z-index: 1;
  }

  &__bottom {
    padding: 0 1rem;

    h2 {
      @include g.font-size($--bottomTitleFS);
    }
  }
}

.uploadBtn {
  position: absolute;
  top: 0;
  right: 1rem;
}

.imageContainer {
  background-color: white;
  border-radius: 10px;
  height: 150px;
  padding: 0.5rem;
  width: 150px;

  @include g.mobile {
    height: 200px;
    width: 200px;
  }

  img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
  }
}

.userInfo {
  align-items: center;
  display: flex;
  flex-direction: column;

  .handicapContainer {
    .flexHandicap {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid g.$color-SecondaryFS;
      flex: 0 0 25%;
      line-height: 1;
      margin-left: 0.3rem;
    }
  }
}

.menuContainer {
  align-items: center;

  bottom: 0.5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0.3rem;
  height: 50px;
  width: 50px;
  z-index: 2;

  .toggleMenuBtn {
    background-color: white;
    border: none;
    border-radius: 0;
    width: 35px;
    height: 35px;
    padding: 0.2rem;

    svg {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .optionMenu {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 0 5px 5px rgba(128, 128, 128, 0.6);
    padding: 0.8rem;
    position: absolute;
    right: 0;
    transform: translate(-20px, -60px);
    z-index: 5;

    h2 {
      margin: 0.5rem;
      @include g.font-size($--editTitleFS);
    }

    &__grid {
      display: grid;
      gap: 0.4rem;
      grid-auto-rows: 60px;
      grid-template-columns: repeat(3, 75px);
      padding: 0.8rem 0;
      @include g.mobile {
        grid-auto-rows: 80px;
        grid-template-columns: repeat(3, 90px);
      }

      button {
        align-items: center;
        border: none;
        box-shadow: 0 3px 3px grey;
        @include g.font-size($--optionBtnFS);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.2rem;
      }
    }

    .imageSpan {
      height: 25px;
      margin-bottom: 0.1rem;
      width: 25px;

      @include g.mobile {
        height: 30px;
        margin-bottom: 0.2rem;
        width: 30px;
      }
    }
  }
}

.view {
  label {
    margin-left: 0.5rem;
  }
}


.popUpView {
  .view {
    display: flex;
    flex-direction: column;
  }

  input {
    max-width: 80%;
    margin: 0 auto;
  }


}



.text {
  &--btn-update {
    @include g.printStyles($text--btn-update);

  }
}
