@use '../../../globals' as g;

$-text--title: (
        font-weight: bold,
        color: g.$color-PrimaryFS,
        font-size: g.map-deep-get(g.$font-activeTitleLabel, 'font-size')
);

$-text--count: (
        color: g.$color-SecondaryFS,
        font-weight: normal,
        border-bottom: 2px solid g.$color-DarkBlue,
);
$-team: (
        padding: (
                null: 0.5rem,
                g.$mQ-tablet: .8rem,
                g.$mQ-tablet-landscape: .5rem
        ),
        flex: (
                null: auto,
                g.$mQ-tablet: 0 0 50%,
                g.$mQ-tablet-landscape: 0 0 33%,
        ),
);
$-team__container: (
        padding: (
                null: 3rem 2rem,
                g.$mQ-tablet: 4rem 2rem,
        ),
        'position': relative,
        'border': 1px solid g.$color-DarkBlue,
        'border-radius': 5px,
        min-height: (
                g.$mQ-tablet: 200px,
                g.$mQ-desktopSmall: 250px,
        )
);

$-team__name: (
        'font-size': (
                null: 1.2rem,
                g.$mQ-mobile: 1.3rem,
                g.$mQ-tablet: 1.4rem,
        ),
        'color': g.$color-PrimaryFS,
        margin: (
                null: 0 0 0.5rem 0,
        ),
);

$-team__members: (
        'color': g.$color-SecondaryFS,
        'margin': 0,
        'font-size': (
                null: 1rem,
                g.$mQ-tablet: 1.1rem
        ),
);

.text {
  &--title {
    @include g.printStyles($-text--title);
  }

  &--count {
    @include g.printStyles($-text--count);
  }
}


.teams {
  &__list {
    &__container {
      margin: 1rem 0;
      @include g.tablet {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .team {
    @include g.printStyles($-team);

    &__name {
      @include g.printStyles($-team__name);
    }

    &__members {
      @include g.printStyles($-team__members);
    }

    &__container {
      @include g.printStyles($-team__container);
    }


    &__editBtn {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      @include g.desktop {
        right: 1rem;
        top: 1rem;
      }
      @include g.desktopLarge {
        right: 1.5rem;
        top: 1.5rem;
      }
    }
  }

  .editTeam {
    &__container {
      border: none;
      padding: 0;
      display: block;
    }

    .section {
      padding: 0.5rem;
    }

    &__captain {


      .boxContainer {
        &__box {
          min-width: 100px;
          min-height: 100px;
        }
      }
    }

    &__member {
      padding: .2rem;

      &__container {
        border: 1px solid grey;
        padding: .5rem;
        border-radius: 3px;
      }

      &__text {
        &--fullName {
          color: g.$color-SecondaryFS;
          @include g.font-size(g.$font-input);
        }
      }

    }

    &__btn {
      color: white;
      font-size: .8rem;
      padding: .3rem;
      border: none;
      border-radius: 3px;
      &--remove-captain {
        background-color: g.$color-Crimson;
      }

      &--add-captain {
        background-color: g.$color-success;
      }
    }
  }
}

