.text {
  &--bold {
    font-weight: bold;
  }

  &--bolder {
    font-weight: 800;
  }

  &--boldest {
    font-weight: 900
  }

  &--center {
    text-align: center;
  }

  &--noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--decoration-none {
    text-decoration: none;
  }

  &--overflow-hidden {
    overflow: hidden;
  }
}
