@import '../_colors';

.color {

  &--primary {
    color: $PrimaryFS;
  }

  &--secondary {
    color: $SecondaryFS;
  }

  &--darkGreen {
    color: $DarkGreen;
  }
  &--darkBlue {
    color: $DarkBlue;
  }



  &--link {
    color: #007bff;
  }

  &--white {
    color: white;
  }

  &--error, &--danger {
    color: $danger;
  }
}
