@use '../../globals' as g;

$--noBetsFoundFS: (
        null: 1rem,
        g.$mQ-mobile: 1.2rem,
);


$--viewBetBtnFS: (
        null: 0.8rem,
        g.$mQ-mobile: 0.9rem,
);
.dashboardBets {
  @include g.tablet {
    padding: 1rem 0;
  }
}

.bet-list {
  @include g.tablet {
    display: flex;
    flex-wrap: wrap;

  }
  @include g.tablet-landscape {
  }
  @include g.desktopSmall {
  }
  @include g.desktopLarge {
  }
}

.bet {
  overflow: hidden;
  padding: .5rem;
  @include g.tablet {
    flex: 0 1 50%;
  }
  @include g.tablet-landscape {
    flex: 0 1 33%;
  }

  @include g.desktopLarge {
    flex: 0 1 25%;
  }

  &__container {
    height: 100%;
    overflow: hidden;
    padding: 0.8rem;
    border-radius: 5px;
    border-left: 5px solid #425a41;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    @include g.desktopSmall {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
    }
    @include g.desktopLarge {
      padding: 1.2rem;
    }
  }

  &__text {
    margin: 0;

    &--title {
      color: g.$color-DarkBlue;
      font-size: .9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0.5rem;
      @include g.mobile {
        font-size: 1rem;
      }
      @include g.desktopSmall {
        font-size: 1.1rem;
      }
      @include g.desktop {
        font-size: 1.2rem;
      }
    }

    &--createdBy, &--createdOn {
      color: grey;
      font-size: .7rem;
      @include g.tablet {
        font-size: .8rem;
      }
      @include g.desktopSmall {
        font-size: .9rem;
      }
    }

    &--amount {

    }


  }


  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .title {
    flex: 0 0 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .viewBetBtn {
    @include g.font-size($--viewBetBtnFS);
  }

  .amount {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #425a41;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(95, 95, 95, 0.8);
    @include g.tablet {
      width: 60px;
      height: 60px;
    }

    span {
      font-size: 1rem;
      font-weight: bold;
      color: white;
    }
  }
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  button {
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputContainer {
    flex: auto;
    display: flex;
    margin-right: 1rem;
  }
}

.noBets {
  padding: 1rem;
  display: flex;
  justify-content: center;

  p {
    @include g.font-size($--noBetsFoundFS);
  }
}
