@use '../../globals' as g;

$-eventName: (
        color: g.$color-PrimaryFS,
        font-size: (
                null: 1.5rem,
                g.$mQ-mobile: 1.6rem,
                g.$mQ-tablet: 1.7rem,
                g.$mQ-tablet-landscape: 1.8rem,
                g.$mQ-desktopSmall: 1.9rem,
                g.$mQ-desktop: 2.6rem,
                g.$mQ-desktopLarge: 2.8rem,
        ),
);

.EventManager {
  .utility {
    display: flex;
    justify-content: space-between;
  }
}

.selectedEvent {
  padding: 1rem 0;

  &__eventName {
    @include g.printStyles($-eventName);
  }

  &__container {
    padding: .5rem;
  }
}

$-sectionTitle: (
        margin: (
                null: 0 0 .5rem 0,
        ),
        color: g.$color-SecondaryFS,
        font-weight: 600,
        font-size: (
                null: .9rem,
                g.$mQ-mobile: 1rem,
                g.$mQ-tablet: 1.1rem,
                g.$mQ-tablet-landscape: 1.3rem,
                g.$mQ-desktopSmall: 1.4rem,
                g.$mQ-desktop: 1.5rem,
                g.$mQ-desktopLarge: 1.6rem,
        ),
);
$-sectionValues: (
        margin: (
                null: 0 0.3rem 0.3rem 0,
        ),
        color: g.$color-AlternativeFS,
        font-size: (
                null: 0.8rem,
                g.$mQ-mobile: 0.9rem,
                g.$mQ-tablet: 1rem,
                g.$mQ-desktopSmall: 1.1rem,
                g.$mQ-desktop: 1.2rem,
                g.$mQ-desktopLarge: 1.3rem,
        ),
);
$-text--count: (
        color: g.$color-SecondaryFS,
        font-size:(
                null: .8rem,
                g.$mQ-mobile: .9rem,
                g.$mQ-tablet: 1rem,
        ),
        border-bottom: 2px solid g.$color-DarkBlue,
);
$-btnToggle: (
        font-size: (
                null: .8rem
        ),
        padding: (
                null: .4rem .6rem,
                g.$mQ-tablet: .5rem .8rem
        ),
        border:none,
        border-bottom: 1px solid g.$color-DarkBlue,
        border-radius: 3px,
        color: g.$color-DarkBlue,
        margin: (
                null: 0 0 .5rem .2rem
        )
);
.section {
  min-height: 125px;

  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    &--title {
      @include g.printStyles($-sectionTitle);

    }

    &--value {
      @include g.printStyles($-sectionValues);
    }

    &--count {
      @include g.printStyles($-text--count)

    }

  }

  &__btn {

    &-toggle {
      @include g.printStyles($-btnToggle);

    }

    &-circle {
      font-weight: bold;
      margin-left: .5rem;
    }
  }

  &--registeredUsers {

    @include g.tablet {
      flex: 0 0 50%;
    }

    &__list {
      position: absolute;
      box-shadow: 0 3px 3px lightgrey;
      padding: 1rem 1rem 5rem 1rem;

      margin: .5rem 0;

      p {
        margin: 0;
      }
    }


  }

  &--location {
    @include g.tablet {
      flex: 0 0 50%;
    }
  }

  &--teams {
    grid-column: 1/3;

    &__list {
      display: flex;
      overflow-x: auto;
    }

    $-team: (
            flex: (
                    null:0 0 75%,
                    g.$mQ-tablet: 0 0 40%,
                    g.$mQ-tablet-landscape: 0 0 33%,
                    g.$mQ-desktopSmall: 0 0 25%
            )
    );
    $-team__container: (
            min-height: (
                    null:150px,
                    g.$mQ-tablet: 200px,
                    g.$mQ-desktopSmall: 225px
            ),
            padding: (
                    null: .8rem .8rem 2rem .8rem,
                    g.$mQ-tablet-landscape: 1rem 1rem 2rem 1rem,
                    g.$mQ-desktopSmall: 1.2rem 1.2rem 2rem 1.2rem
            )
    );

    .team {
      padding: .5rem;
      @include g.printStyles($-team);

      &__container {
        box-shadow: 0 5px 5px lightgrey;
        @include g.printStyles($-team__container);

      }


      &__text {
        &--team-name {
          text-align: center;
          font-size: .9rem;
          margin: 0 0 .5rem 0;
          font-weight: 500;
          color: g.$color-PrimaryFS;
          text-decoration: underline;
          @include g.mobile {
            font-size: 1rem;
          }

          @include g.tablet {
            margin: 0 0 1rem 0;
          }
        }

        &--secondary {
          font-size: .8rem;
          font-weight: 400;
          color: g.$color-SecondaryFS;
          margin: 0 0 1rem 0;

          @include g.mobile {
            font-size: .9rem;
          }

          strong {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}

$-user-fullName: (
        margin: (
                null: 0,
        ),
        color: g.$color-AlternativeFS,
        font-size: (
                null: 0.8rem,
                g.$mQ-mobile: 0.9rem,
                g.$mQ-tablet: 1rem,
                g.$mQ-tablet-landscape: 1.1rem,
                g.$mQ-desktopSmall: 1.2rem,
                g.$mQ-desktop: 1.3rem,
                g.$mQ-desktopLarge: 1.4rem,
        ),
);
.popUp {
  &__title {
    margin: 0;
    font-size: 1.2rem;
  }

  &__content {
    padding: .8rem 0;
  }

  &__users {

  }

  &__user {

  }

  .text {
    &-fullName {
      @include g.printStyles($-user-fullName);
    }

    &-number {
      font-weight: bold;
      margin-right: .5rem;
    }

    &-notRegistered {
      white-space: nowrap;
      @include g.printStyles($-user-fullName);
    }
  }
}
