@use '../../globals' as g;
@use './fonts.scss' as *;



.eventManager {

  .utility {
    display: flex;
    justify-content: space-between;
  }
}




.selectedEvent {
  padding: 1rem 0;



  &__container {
    padding: .5rem;
  }
}




$-btnToggle: (
        font-size: (
                null: .8rem
        ),
        padding: (
                null: .4rem .6rem,
                g.$mQ-tablet: .5rem .8rem
        ),
        border:none,
        border-bottom: 1px solid g.$color-DarkBlue,
        border-radius: 3px,
        color: g.$color-DarkBlue,
        margin: (
                null: 0 0 .5rem .2rem
        )
);
.section {
  min-height: 125px;

  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__btn {

    &-toggle {
      @include g.printStyles($-btnToggle);

    }

    &-circle {
      font-weight: bold;
      margin-left: .5rem;
    }
  }

  &--registeredUsers {

    @include g.tablet {
      flex: 0 0 50%;
    }

    &__list {
      position: absolute;
      box-shadow: 0 3px 3px lightgrey;
      padding: 1rem 1rem 5rem 1rem;

      margin: .5rem 0;

      p {
        margin: 0;
      }
    }


  }

  &--location {
    @include g.tablet {
      flex: 0 0 50%;
    }
  }

  &--teams {
    grid-column: 1/3;

    &__list {
      display: flex;
      overflow-x: auto;
    }

    $-team: (
            flex: (
                    null:0 0 75%,
                    g.$mQ-tablet: 0 0 40%,
                    g.$mQ-tablet-landscape: 0 0 33%,
                    g.$mQ-desktopSmall: 0 0 25%
            )
    );
    $-team__container: (
            min-height: (
                    null:150px,
                    g.$mQ-tablet: 200px,
                    g.$mQ-desktopSmall: 225px
            ),
            padding: (
                    null: .8rem .8rem 2rem .8rem,
                    g.$mQ-tablet-landscape: 1rem 1rem 2rem 1rem,
                    g.$mQ-desktopSmall: 1.2rem 1.2rem 2rem 1.2rem
            )
    );

    .team {
      padding: .5rem;
      @include g.printStyles($-team);

      &__container {
        box-shadow: 0 5px 5px lightgrey;
        @include g.printStyles($-team__container);

      }


      &__text {
        &--team-name {
          text-align: center;
          font-size: .9rem;
          margin: 0 0 .5rem 0;
          font-weight: 500;
          color: g.$color-PrimaryFS;
          text-decoration: underline;
          @include g.mobile {
            font-size: 1rem;
          }

          @include g.tablet {
            margin: 0 0 1rem 0;
          }
        }

        &--secondary {
          font-size: .8rem;
          font-weight: 400;
          color: g.$color-SecondaryFS;
          margin: 0 0 1rem 0;

          @include g.mobile {
            font-size: .9rem;
          }

          strong {
            margin-left: .5rem;
          }
        }
      }
    }
  }
}
