@use '../globals' as g;

.app {
  .routerView {
    min-height: 100vh;
    padding: 2rem 1rem;
    position: relative;
    margin-bottom: 70px;
    @include g.mobile {
      padding: 2rem 1.5rem;
    }


  }

  .withBackBtn {
    padding: 0 1rem;
    @include g.mobile {
      padding: 0 1.5rem;
    }

  }
}

