$mobile: 375;
$tablet: 768;
$tablet-landscape: 1024;
$desktopSmall: 1280;
$desktop: 1440;
$desktopLarge: 1900;

@mixin mobile {
  @media only screen and (min-width: $mobile * 1px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: $tablet * 1px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media only screen and (min-width: $tablet-landscape * 1px) {
    @content;
  }
}

@mixin desktopSmall {
  @media only screen and (min-width: $desktopSmall * 1px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop * 1px) {
    @content;
  }
}

@mixin desktopLarge {
  @media only screen and (min-width: $desktopLarge * 1px) {
    @content;
  }
}

/* ===== Usage ===== */
//h1 {
//  font-size: 10px;
//
//  @include tablet {
//    font-size: 12px;
//  }
//
//  @include desktop {
//    font-size: 20px;
//  }
//}
