.adminEvents {
  padding: 1rem;


  .eventView {
    & > div {
      margin-bottom: 1rem;
    }

    &__selectBox {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 1rem;

      .flexWrapper {
        display: flex;
      }

      button {
        border: none;

        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:first-child {
          margin-right: 1rem;
        }

        p {
          font-size: 0.7rem;
          color: grey;
        }
      }

      select {
        font-size: 0.8rem;
        display: block;
        padding: 0.3rem 0.5rem;
        width: 75px;
        max-width: 100%; /* useful when width is set to anything other than 100% */
        box-sizing: border-box;
        margin: 0;
        border: 1px solid rgba(211, 211, 211, 0.8);
        border-radius: 3px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
      }

      label {
        font-size: 0.8rem;
      }
    }

    hr {
      margin: 1rem 0;
      border: 1px solid lightgrey;
    }

    h2 {
      font-size: 1.2rem;
    }

    h2 {
      color: $DarkBlue;
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
      text-decoration: underline;
    }

    h4 {
      font-size: 0.8rem;
      font-weight: normal;
    }

    &__location {
      .flexField {
        display: flex;

        .streetNumbers {
          flex: 0 0 40%;
        }
      }

      .field {
        padding: 0 0.3rem;
        margin-top: 0.5rem;

        label {
          margin-left: 0.5rem;
          color: grey;
          font-size: 0.7rem;
        }
      }

      p {
        font-size: 0.9rem;
        color: grey;
      }
    }

    &__teams {
      .title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .addTeam {
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            border: none;
          }

          p {
            font-size: 0.6rem;
            color: grey;
          }

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }

      .teamList {
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 1rem 1rem 1rem 0;

        .team {
          display: inline-block;
          width: 200px;
          margin-right: 1rem;
          min-height: 125px;
          box-shadow: 2px 5px 5px rgb(103, 103, 103, 0.5);
          position: relative;
          border: 1px solid $DarkGreen;
          border-radius: 5px;
          padding: .3rem;


          &:last-child {
            margin-right: 0;
          }

          .container {
            display: flex;
            flex-direction: column;

            & > div {
              margin-bottom: .5rem;

            }

            .top {
              display: flex;
              justify-content: center;

              .name {
                text-decoration: underline;
              }
            }

            .middle {
              .captainContainer {
                display: flex;
                align-items: center;

                p {
                  font-size: 0.7rem;
                  margin-left: 0.2rem;
                  color: grey;
                }
              }
            }

            .bottom {
              .teamMembers {
                &__teamName {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  button {
                    padding: .3rem;
                    border: none;
                  }
                }

                &__memberList {
                  list-style-type: none;
                  margin: 0;
                  padding: 0 .5rem;
                  display: flex;
                  flex-direction: column;

                  li {
                    margin: 0 0 1rem 0;
                    font-size: .8rem;
                  }
                }

              }
            }


          }
        }
      }
    }


    &__btnContainer {
      display: flex;
      justify-content: flex-end;

      .btn {
        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .resultsView {
    h2 {
      font-size: 1.2rem;
      color: $DarkBlue;
    }

    h3 {
      font-size: 0.8rem;
    }

    .section {
      margin: 0 0 1rem 0;
    }

    &__viewButtons {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      padding: 0.2rem;
      margin: 0 0 1rem 0;

      button {
        margin-right: 0.5rem;
        display: inline-block;
        height: 30px;
        min-width: 75px;
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
        border: none;
        border-bottom: 2px solid $DarkBlue;

        &.active {
          background-color: $DarkBlue;
          color: white;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    &__currentChamps {
      button {
        margin: 0.5rem 0.3rem 0 0;

        &:last-child {
          margin-right: 0;
        }

        &.activeChamps {
          background-color: $DarkBlue;
          color: white;
        }

        &.notActiveChamps {
          background-color: $danger;
          border-bottom: 1px solid $danger;
          color: white;
        }
      }

      .champList {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .champ {
          display: flex;
          flex-direction: column;
          align-items: center;

          padding: 0.2rem;

          .imgContainer {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          p {
            font-size: 0.7rem;
            text-align: center;
          }
        }
      }
    }

    &__registeredUsers {
      .list {
        margin-top: 0.4rem;
        min-height: 250px;
        border-radius: 5px;

        .user {
          box-shadow: 3px 3px 3px grey;
          padding: 0.5rem 0.5rem;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .checkBox {
            input {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }

  .changeViewButton {
    position: fixed;
    bottom: 100px;
    right: 10px;

    .btn {
      font-size: 0.7rem;

      width: 50px;
      height: 50px;
      background-color: white;
    }
  }
}
