.eventTeams {

  h1 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1rem;

  }

  h4 {
    font-weight: normal;
    font-size: .8rem;
  }

  .utilityBar {

    margin: 2rem 0;
    display: flex;
    justify-content: space-between;

    button {
      border: none;

    }

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }


  .teams {
    margin-top: 1rem;
  }


  .team {
    min-height: 200px;
    border: 1px solid $DarkBlue;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    padding: .8rem;

    &.selected {
      min-height: 300px;


    }


    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & > div {
      margin-bottom: .5rem;
    }

    &__name {
    }

    &__edit {
      display: flex;

    }


    .selectTeamCaptainBox {
      flex: 0 0 50%;
      position: relative;

      .buttonList {
        background-color: lightgrey;
        width: 100px;
        padding: .5rem;
        border: 1px solid lightgrey;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        button {
          background-color: white;
        }
      }
    }

    .saveBtn {
      margin-left: 1rem;
    }
  }
}
