@use 'vars/mediaQuerySizes' as *;
@use 'vars/colors' as *;
@use './mixins/mediaQueries' as *;
@use './mixins/fontSize' as *;

$--preNextBtnFS: (
        null: 0.8rem,
        $mobile: 0.9rem,
        $tablet: 1rem,
        $tablet-landscape: 1.1rem,
);

button {
  -webkit-writing-mode: horizontal-tb !important;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  border-radius: 5px;
  //box-shadow: 0 2px rgba(154, 154, 154, 0.8);
  text-decoration: none;

  &.active {
    background-color: $DarkBlue;
    color: white;
  }

  &.submit {
    margin: 1rem 0;
  }

  &--circle {
    border-radius: 50%;
    padding: 0;
    @include tablet {
      border-radius: 50%;
      padding: 0;
    }
  }







  &.clicked {
    transform: translateY(4px);
  }

  &:disabled {
    background-color: lightgrey;
    border: 1px solid lightgrey;
    color: $DarkBlue;
    opacity: 0.4;
  }
}

.btnContainer {
  margin-top: 1rem;
}

.prevNextButtons {
  margin: 1rem 0;

  button {
    margin-right: 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid $DarkBlue;
    font-weight: bold;
    @include font-size($--preNextBtnFS);
    color: white;
    background-color: $DarkBlue;

    &:disabled {
      background-color: white;
      color: rgba(128, 128, 128, 0.25);
    }

    &:last-child {
      margin: 0;
    }
  }
}



.ViewBtns {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0.2rem 0.8rem 0.2rem 0;
  margin: 0;

  .viewBtn {
    border-radius: 3px;
    border: 1px solid #17252a;
    margin-right: 0.5rem;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: white;
    text-transform: capitalize;
    min-width: 75px;
  }

  .active {
    background-color: #17252a;
    color: white;
    font-weight: bold;
  }
}

.backBtn {
  padding: 1rem;
}
.btn {
  &--bg {
    &-darkBlue {
      color: white;
      background-color: $DarkBlue;
      border: 1px solid $DarkBlue;
    }

    &-white {
      color: $DarkBlue;
      background-color: white;
    }

    &-darkGreen {
      color: white;
      background-color: $primary;
      border: 1px solid $primary;
    }

    &-red {
      background-color: $danger;
      color: white;
      border: 1px solid $danger;
    }
  }
}

.btn {
  &--border {
    &-none {
      border: none;
    }

    &-darkBlue {
      background-color: white;
      border: 1px solid $DarkBlue;
    }

    &-red {
      background-color: white;
      color: $danger;
      border: 1px solid $danger;
    }

    &-darkGreen {
      background-color: white;
      border: 1px solid $DarkGreen;

    }
  }


  &--borderBottom {
    border-top: none;
    border-left: none;
    border-right: none;

  }
}

.btn {

  &--tiny {
    padding: 0.2rem 0.8rem;
  }

  &--xs {
    padding: 0.3rem 1rem;

    @include mobile {
      padding: 0.4rem 1.1rem;
    }

    @include tablet {
      padding: 0.5rem 1.2rem;
    }
  }

  &--sm {
    padding: 0.5rem 2rem;
    @include mobile {
      padding: 0.5rem 2.5rem;
    }

    @include tablet {
      padding: 0.7rem 2.8rem;
    }
  }

  &--md {
    padding: 1rem 3rem;
    @include tablet {
    }
  }

  &--lg {
    padding: 1rem 4rem;
  }
}
