@use './mixins/mediaQueries' as mQ;
.flex {
    &--xs {
        display: flex;
    }
    &--sm {
        @include mQ.mobile {
            display: flex;
        }
    }

    &--md {
        @include mQ.tablet {
            display: flex;
        }
    }

    &--lg {
        @include mQ.tablet-landscape {
            display: flex;
        }
    }

    &--iCenter {
        align-items: center;
    }

    &--iStart {
        align-items: flex-start;
    }

    &--iEnd {
        align-items: flex-end;
    }

    // flex direction
    &--column {
        flex-direction: column;

        &-reverse {
            flex-direction: column-reverse;
        }
    }

    &--row {
        flex-direction: row;
    }

    // flex wrap

    &--wrap {
        flex-wrap: wrap;
    }
    &--noWrap {
        flex-wrap: nowrap;
    }

    // justify-content
    &--start {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--between {
        justify-content: space-between;
    }

    &--end {
        justify-content: flex-end;
    }
}

.flexItem {
    flex: auto;
    padding: 0.5rem !important;
    @include mQ.tablet {
        padding: 0.6rem !important;
    }
    @include mQ.tablet-landscape {
        padding: 0.5rem !important;
    }
    @include mQ.desktopSmall {
        padding-right: 0.8rem !important;
    }
    @include mQ.desktopLarge {
        padding-right: 1rem !important;
    }
}
