.flex {
  display: flex;


  &--iCenter {
    align-items: center;
  }

  &--iStart {
    align-items: flex-start;
  }

  &--iEnd {
    align-items: flex-end;
  }

  // flex direction
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  // flex wrap

  &--noWrap {
    flex-wrap: nowrap;
  }

  // justify-content
  &--between {
    justify-content: space-between;
  }
  &--end {
    justify-content: flex-end;
  }
}

