

.form {
  padding: 1rem;
  @include mobile {
    padding: 2rem 1rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    label {
      margin: 0 0 0.3rem 0.3rem;


    }


    input,
    textarea {
      font-family: 'Raleway', sans-serif;
      border: 1px solid rgba(60, 60, 67, .2);
      outline: none;
      margin: 0;
      height: 40px;
      border-radius: 5px;
      line-height: 25px;
      background-color: rgba(118, 118, 128, .1);
      padding: .2rem .8rem;
      color: rgba(60, 60, 67, .7);
      @include mobile {
        padding: .3rem .9rem;
      }
      @include tablet {
        padding: .5rem 1rem;
      }
    }

  }


}

.input {
  width: 100%;
  border: 1px solid rgba(60, 60, 67, .2);
  box-sizing: border-box;
  margin: 0;
  line-height: 25px;
  border-radius: 75px;
  padding: .2rem .8rem;
  background-color: rgb(118, 118, 128, .1);
  color: rgba(60, 60, 67, .7);

  @include mobile {
    padding: .3rem .9rem;
  }

  @include tablet {
    padding: .5rem 1rem;
  }


  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: .8rem;

    @include tablet {
      font-size: 1rem;
    }
  }

  &::-moz-placeholder { /* Firefox 19+ */
    font-size: .8rem;
    @include tablet {
      font-size: 1rem;
    }
  }

  &:-ms-input-placeholder { /* IE 10+ */
    font-size: .8rem;
    @include tablet {
      font-size: 1rem;
    }

  }

  &:-moz-placeholder { /* Firefox 18- */
    font-size: .8rem;
    @include tablet {
      font-size: 1rem;
    }

  }


}
