$DarkGreen: rgba(66, 90, 65, 0.6);
$DarkBlue: #17252a;
$Crimson: rgba(139, 38, 53, 0.7);
$Black: #1a1423;
$LightGreen: #b3e2c5;
$White: #fff;
$YankeeBlue: #102542;
$primary: #425a41;
$secondary: #17252a;
$danger: #8b2635;
$info: #117a8b;
