.ideas {
  .addIdea {
    display: flex;
    justify-content: flex-end;
  }
  .form--addIdea {
    padding: 0;
    input,
    textarea {
      border-radius: 5px;
    }

    textarea {
      min-height: 125px;
    }
  }

  &__list {
    .idea {
      padding: 0.5rem 0.8rem;
      border-radius: 5px;
      margin-bottom: 1rem;
      box-shadow: 3px 3px 5px lightgrey;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &.autoHeight {
        height: auto;
      }

      h2 {
        font-size: 1rem;
      }

      &__section {
        &:nth-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      &__description {
        overflow: hidden;
        opacity: 0;
        p {
          font-size: 0.8rem;
          white-space: pre;
          color: grey;
        }
        &.show {
          animation: slideDown 1s linear forwards;
          padding: 0.5rem 0;
        }

        &.hide {
          animation: slideUp 1s linear forwards;
          padding: 0;
        }
      }

      &__view {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
