.m {
  &-0 {
    margin: 0;
  }

  &-1 {
    margin: 1rem;
  }
}

.my {
  &-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.mt {
  &-1 {
    margin-top: 1rem;
  }

  &-2 {
    margin-top: 2rem;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem;
  }

  &-2 {
    margin-bottom: 2rem;
  }
}

.mx {
  &-0 {
    margin-left: 0;
    margin-right: 0;
  }
}


.my-md {
  &-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
