.sandbaggerEvents {
  .registeredModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100vh - 83px);
    padding: 1rem 1rem 0 1rem;

    .registeredContainer {
      width: 100%;
      height: 100%;
      background-color: white;
    }
  }

  .selectYear {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
      font-size: 1.2rem;
      color: $DarkBlue;
    }

    select {
      font-size: 0.8rem;
      display: block;
      padding: 0.6em 1.4em 0.5em 0.8em;
      width: 75px;
      max-width: 100%; /* useful when width is set to anything other than 100% */
      box-sizing: border-box;
      margin: 0;
      border: 1px solid rgba(211, 211, 211, 0.8);
      border-radius: 3px;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;

      option {
      }
    }

    label {
      font-size: 0.8rem;
    }
  }

  .registeredUsers {
    display: flex;
    align-items: center;

    .registeredUsersButton {
      button {
        border-radius: 5px;
        border: 1px solid lightgrey;
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
      }
    }

    &__cards {
      border: 1px solid rgba(128, 128, 128, 0.3);
      height: 200px;
      border-radius: 5px;
      padding: 0.5rem;
      overflow-y: scroll;

      .registeredCount {
        font-size: 0.8rem;
        color: rgba(128, 128, 128, 0.6);
        margin-bottom: 1rem;
      }

      .cardsContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
        grid-auto-rows: 75px;
      }

      .card {
        padding: 0.5rem;
        box-shadow: 0 3px 5px rgba(128, 128, 128, 0.6);
        border-radius: 5px;

        p {
          font-size: 0.8rem;
        }
      }
    }
  }

  .selectedEvent {
    margin-top: 1rem;
    border-radius: 5px;
  }

  .sandbaggerList {
    padding: 0 0 0 1.6rem;

    li {
      margin-bottom: 1rem;
    }
  }

  .registerButton {
    display: flex;
    justify-content: center;
  }

  .eventGrid {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .location {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: .5rem;
      border-radius: 5px;
    }
  }

  .NoEvents {
    margin-top: 2rem;
    padding: 1rem;

    p {
    }
  }
}
