@use './globals' as g;

@mixin modifiers($map, $attribute, $prefix: '-', $separator: '-', $base: 'base') {
  @each $key, $value in $map {
    //@debug 'map' $map;
    //@debug 'key' $key;
    //@debug 'attribute' $attribute;
    &#{if($key != $base, #{$prefix}#{$key}, '')} {
      @if type-of($value) == 'map' {
        @include modifiers($value, $attribute, $separator);
      } @else {
        #{$attribute}: $value;
      }
    }
  }
}

.text {
  @include modifiers(g.$font-title, 'font-size', '--');
}

.text {
  font-weight: normal;

  //Font Size
  &--tiny {
    @include g.font-size(g.$font-tiny);
  }

  &--xs {
    @include g.font-size(g.$font-xs);
  }

  &--sm {
    @include g.font-size(g.$font-sm);
  }

  &--md {
    @include g.font-size(g.$font-md);
  }

  &--lg {
    @include g.font-size(g.$font-lg);
  }

  &--xl {
    @include g.font-size(g.$font-xl);
  }

  &--title {
    @include g.font-size(g.$font-title);
  }

  &--headerTitle {
    @include g.font-size(g.$font-headerTitle);
  }

  &--input {
    @include g.font-size(g.$font-input);
  }

  &--label {
    @include g.font-size(g.$font-label);
  }
}

.text-vpMD {
  @include g.tablet {
    &--tiny {
      @include g.font-size(g.$font-tiny-vpMD);
    }

    &--xs {
      @include g.font-size(g.$font-xs-vpMD);
    }

    &--sm {
      @include g.font-size(g.$font-sm-vpMD);
    }

    &--md {
      @include g.font-size(g.$font-md-vpMD);
    }

    &--lg {
      @include g.font-size(g.$font-lg-vpMD);
    }

    &--xl {
      @include g.font-size(g.$font-xl-vpMD);
    }

    &--title {
      @include g.font-size(g.$font-title-vpMD);
    }

    &--headerTitle {
      @include g.font-size(g.$font-headerTitle-vpMD);
    }

    &--input {
      @include g.font-size(g.$font-input-vpMD);
    }

    &--label {
      @include g.font-size(g.$font-label-vpMD);
    }
  }
}

.text-vpLG {
  @include g.tablet-landscape {
    &--tiny {
      @include g.font-size(g.$font-tiny-vpLG);
    }

    &--xs {
      @include g.font-size(g.$font-xs-vpLG);
    }

    &--sm {
      @include g.font-size(g.$font-sm-vpLG);
    }

    &--md {
      @include g.font-size(g.$font-md-vpLG);
    }

    &--lg {
      @include g.font-size(g.$font-lg-vpLG);
    }

    &--xl {
      @include g.font-size(g.$font-xl-vpLG);
    }

    &--title {
      @include g.font-size(g.$font-title-vpLG);
    }

    &--headerTitle {
      @include g.font-size(g.$font-headerTitle-vpLG);
    }

    &--input {
      @include g.font-size(g.$font-input-vpLG);
    }

    &--label {
      @include g.font-size(g.$font-label-vpLG);
    }
  }
}

.text {
  &--bold {
    font-weight: bold;
  }

  &--bolder {
    font-weight: 800;
  }

  &--boldest {
    font-weight: 900;
  }

  &--fw {
    &---300 {
      font-weight: 300;
    }

    &---400 {
      font-weight: 400;
    }

    &---500 {
      font-weight: 500;
    }

    &---600 {
      font-weight: 600;
    }

    &---700 {
      font-weight: 700;
    }

    &---800 {
      font-weight: 800;
    }

    &---900 {
      font-weight: 900;
    }
  }

  &--center {
    text-align: center;
  }

  &--noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--decoration-none {
    text-decoration: none;
  }

  &--overflow-hidden {
    overflow: hidden;
  }

  &--ls {
    &---0 {
      letter-spacing: 0;
    }
  }
}

.color {
  &--primary {
    color: g.$color-PrimaryFS;
  }

  &--secondary {
    color: g.$color-SecondaryFS;
  }

  &--darkGreen {
    color: g.$color-DarkGreen;
  }

  &--darkBlue {
    color: g.$color-DarkBlue;
  }

  &--link {
    color: #007bff;
  }

  &--white {
    color: white;
  }
  &--grey {
    color: grey;
  }
  &--lightGrey {
    color: lightgrey;
  }

  &--error,
  &--danger {
    color: g.$color-danger;
  }
}
