//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "normalize";
@import './_forms.scss';
@import './_margin.scss';
@import './_flex.scss';
@import './font';
@import './_backgroundColor';
@import './button/_button.scss';

html {
  font-family: 'Raleway', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
}


.hideLabel {
  display: none;
}

input {
  box-sizing: border-box;
}

.loading {
  display: flex;
  justify-content: center;
}

.divider {
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex: 1 1 0;
  max-height: 0;
  border-bottom-style: solid;
  border-width: thin 0 0 0;
  transition: inherit;
  max-width: 100%;
  border-color: rgba(0, 0, 0, .12);
  background-color: lightgrey;
  width: 100%;
  margin: 0 0 1rem 0;
  height: 1px;
}

.greyLinks {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  p {
    color: grey;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: blue;
    margin-left: 0.5rem;
  }
}

a {
  -webkit-tap-highlight-color: transparent;
}

.z {
  z-index: 0;

  &1 {
    z-index: 1;
  }

  &2 {
    z-index: 2;
  }

  &3 {
    z-index: 3;
  }
}



