// $primary: #425a41;
// $secondary: #17252a;
// $danger: #8b2635;
// $tester: #12ff90;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import '_button.scss';
@import '_text.scss';
html {
  font-family: 'Roboto', sans-serif;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  overflow-x: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0 0 75px 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

a {
  color: #007bff;
}

.loading {
  display: flex;
  justify-content: center;
}

.divider {
  background-color: lightgrey;
  width: 100%;
  margin: 0 0 1rem 0;
  height: 1px;
}

.greyLinks {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  p {
    color: grey;
    font-size: 0.8rem;
  }

  a {
    text-decoration: none;
    color: blue;
    margin-left: 0.5rem;
  }
}

.form {
  padding: 1rem 2rem;
  &__field {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    label {
      margin: 0 0 0.5rem 0.5rem;
    }
    input,
    textarea {
      font-size: 1rem;
      border-radius: 25px;
      padding: 0.5rem 0 0.5rem 1rem;
      border: 1px solid lightgrey;
      outline: none;
      background-color: transparent;
    }

    textarea {
      padding: 0.8rem 0 0.8rem 1rem;
    }
  }
}

.input {
  width: 100%;
  padding: 0.3rem 0.8rem;
  border: 1px solid lightgrey;
  border-radius: 25px;
  font-size: 1rem;
}
