$DarkGreen: rgba(66, 90, 65, 1);
$DarkBlue: #17252a;
$Crimson: rgba(139, 38, 53, 1);
$Black: #1a1423;
$LightGreen: #b3e2c5;
$White: #fff;
$YankeeBlue: #102542;
$primary: #425a41;
$secondary: #17252a;
$danger: #8b2635;
$info: #117a8b;
$pink: #F4264A;
$testBlue: #184878;

$PrimaryFS: #282828;
$SecondaryFS: #35383b;
$AlternativeFS: #868686;



