@use './mediaQuerySizes' as *;
@use 'colors' as color;
@use '../mixins/deepMerge' as mixin;

$title: (
        null: 1.7rem,
        $mobile: 1.8rem,
        $tablet: 1.9rem,
        $tablet-landscape: 2rem,
        $desktopSmall: 2.1rem,
        $desktop: 2.2rem,
        $desktopLarge: 2.4rem,
);
$headerTitle: (
        null: 1.6rem,
        $mobile: 1.8rem,
        $tablet: 2.2rem,
        $tablet-landscape: 2.4rem,
        $desktopSmall: 2.6rem,
);
$input: (
        null: 0.9rem,
        $mobile: 1rem,
        $tablet: 1.2rem,
        $tablet-landscape: 1rem,
        $desktopSmall: 1.1rem,
        $desktop: 1.2rem,
        $desktopLarge: 1.2rem,
);
$label: (
        'position': absolute,
        'color': rgba(40, 40, 40, 0.7),
        'z-index': 1,
        'font-size': (
                null: 0.7rem,
                $mobile: 0.8rem,
                $tablet: 0.8rem,
                $tablet-landscape: 0.7rem,
                $desktopSmall: 0.8rem,
                $desktopLarge: 0.9rem,
        )
);

$activeLabel: (
        'top': 0,
        'transform': translateY(-15px),
        'background-color': white,
        'border-radius': 5px,
        'font-weight': bold,
        'color': color.$PrimaryFS,
        'font-size': (
                null: 0.8rem,
                $mobile: 0.9rem,
                $tablet: 0.9rem,
                $tablet-landscape: 0.8rem,
                $desktopSmall: 0.9rem,
                $desktopLarge: 1rem,
        ),
);
$activeTitleLabel: mixin.deepMerge($activeLabel,
        (
                'font-size':(
                        null: 1rem
                ))
);

$tiny: (
        null: 0.5rem,
        $mobile: 0.6rem,
        $tablet: 0.7rem,
        $tablet-landscape: 0.8rem,
        $desktopSmall: 0.9rem,
        $desktop: 1rem,
        $desktopLarge: 1.1rem,
);
$xs: (
        null: 0.7rem,
        $mobile: 0.8rem,
        $tablet: 0.9rem,
        $tablet-landscape: 1rem,
        $desktopSmall: 1.1rem,
        $desktop: 1.2rem,
        $desktopLarge: 1.3rem,
);
$sm: (
        null: 0.9rem,
        $mobile: 1rem,
        $tablet: 1.1rem,
        $tablet-landscape: 1.2rem,
        $desktopSmall: 1.3rem,
        $desktop: 1.4rem,
        $desktopLarge: 1.5rem,
);
$md: (
        null: 1.1rem,
        $mobile: 1.2rem,
        $tablet: 1.3rem,
        $tablet-landscape: 1.4rem,
        $desktopSmall: 1.5rem,
        $desktop: 1.6rem,
        $desktopLarge: 1.7rem,
);
$base: (
        null: 1.2rem,
        $mobile: 1.3rem,
        $tablet: 1.4rem,
        $tablet-landscape: 1.5rem,
        $desktopSmall: 1.6rem,
        $desktop: 1.7rem,
        $desktopLarge: 1.8rem,
);
$lg: (
        null: 1.3rem,
        $mobile: 1.4rem,
        $tablet: 1.5rem,
        $tablet-landscape: 1.6rem,
        $desktopSmall: 1.7rem,
        $desktop: 1.8rem,
        $desktopLarge: 1.9rem,
);
$xl: (
        null: 1.5rem,
        $mobile: 1.6rem,
        $tablet: 1.7rem,
        $tablet-landscape: 1.8rem,
);

